
body {
    margin: 0;
    padding: 0;
    background: #41478b;
    height: 100%;
    opacity: 1;
    color:white;

}


#particles-js{


    height: auto;
    witdh: 100%;


}

.well{
    padding:20px;
    margin:20px;
    align:centered;
    text-align: center;
    color:white;
    background-color: rgba(189, 8, 0, 0.8);
}

#noPadding{

    padding:0px;
}

.glyphicon {
    font-size: 40px;
    color:white;
}

.border{
    border-bottom: solid;
    border-color: red;


}